<header>

  <div class="header-container">
    <!--<img class="logo-header" ngSrc="assets/images/logo.png" alt="" height="66" width="381">-->
    <h1 class="title">Aqua<span class="conecta">Conecta</span></h1>

    <div class="container-buttons-header">
      <p class="providers-button">Residents</p>
      <p class="logout-button">Reports</p>
      <p class="providers-button">Requests</p>
      <p class="logout-button">Logout</p>
    </div>
  </div>

</header>


<div class="line-header"></div>

