<!-- header-content.component.html -->
<header class="app-header">
  <div class="header-container">
    <div class="logo" (click)="navigateToDashboard()">
      <h1 class="logo-text">Aqua<span class="conecta">Conecta</span></h1>
    </div>    <div class="navigation">
      <a *ngIf="username === 'provider'" routerLink="/residents" class="nav-item" routerLinkActive="active">{{ translate('residents_nav') }}</a>
      <a *ngIf="username === 'provider'" routerLink="/issue-reports" class="nav-item" routerLinkActive="active">{{ translate('reports_nav') }}</a>
      <a *ngIf="username === 'provider'" routerLink="/requests" class="nav-item" routerLinkActive="active">{{ translate('requests_nav') }}</a>
      <a *ngIf="username === 'provider'" routerLink="/sensor-monitoring" class="nav-item" routerLinkActive="active">{{ translate('sensor_monitoring_nav') }}</a>


      <a *ngIf="username === 'admin'" routerLink="/providers" class="nav-item" routerLinkActive="active">{{ translate('providers_nav') }}</a>
      <a *ngIf="username === 'admin'" routerLink="/admin/admin-dashboard" class="nav-item" routerLinkActive="active">{{ translate('admin_dashboard_nav') }}</a>

      <a *ngIf="username === 'provider'" routerLink="/home" class="nav-item" routerLinkActive="active">{{ translate('home_nav') }}</a>
    </div>
  </div>

  <div class="divider"></div>
</header>
