<app-header-content></app-header-content>

<div class="details-container">

  <div class="provider-details-card">

    <div class="title-container">
      <h1>{{ provider.taxName }}</h1>
    </div>

    <div class="provider-ruc-phone">
      <p> <span class="subtitle">RUC: </span><span class="ruc">{{ provider.ruc }}</span> </p>
      <p><span class="subtitle">Phone: </span><span class="tlf">{{ provider.phone }}</span></p>
    </div>

    <p class="subtitle" style="margin-top: 20px;">{{provider.direction}}</p>

    <!-- <div class="provider-actions">
      <button class="btn-profile" (click)="goToProfile()">View Profile</button>
    </div> -->
  </div>

  <p class="title-active-plans">Active Residents</p>

  <table mat-table [dataSource]="subscriptionsDataSource" class="mat-elevation-z8">

    <!--- Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition" -->

    <!-- Position Column -->
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef>ID</th>
      <td mat-cell *matCellDef="let row">{{row.id}}</td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="firts_name">
      <th mat-header-cell *matHeaderCellDef>First name</th>
      <td mat-cell *matCellDef="let row"> {{row.firstName}} </td>
    </ng-container>

    <!-- Weight Column -->
    <ng-container matColumnDef="last_name">
      <th mat-header-cell *matHeaderCellDef>Last name</th>
      <td mat-cell *matCellDef="let row"> {{row.lastName }} </td>
    </ng-container>

    <!-- Weight Column -->
    <ng-container matColumnDef="phone">
      <th mat-header-cell *matHeaderCellDef>Phone</th>
      <td mat-cell *matCellDef="let row"> {{row.phone }} </td>
    </ng-container>

    <!-- Symbol Column -->
    <ng-container matColumnDef="status" >
      <th mat-header-cell class="cell-status" *matHeaderCellDef>Status</th>
      <td mat-cell *matCellDef="let row" class="custom-status-column">
        <span [ngClass]="getStatusClass(row.status)">
              {{ getStatusText(row.status) }}
        </span>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

</div>

<!--
<div class="provider-summary-container">
  <h1>Residents and Subscriptions for Provider ID: {{ providerId }}</h1>
  <ul>
    <li *ngFor="let resident of resident">
      <p>Resident ID: {{ resident.first_name }}, Last name: {{ resident.last_name }}</p>
      <ul>
        <li *ngFor="let subscription of subscriptions[resident.id]">
          ID: {{subscription.id}}, Subscription Start: {{ subscription.start_date }}, End: {{ subscription.end_date }}, Status: {{ subscription.status }}
        </li>
      </ul>
    </li>
  </ul>
</div>
-->
