<app-header-content></app-header-content>

<div class="request-container">

  <div class="request-title-search">
    <h1 class="title-request">Scheduled date</h1>
  </div>

  <div class="container-card">
  <mat-card appearance="outlined" class="custom-scheduled-card">

    <mat-card-header>
      <mat-card-title> Resident</mat-card-title><br>
      <mat-card-content>Herding group</mat-card-content>
    </mat-card-header> <br>

    <mat-card-header>
      <mat-card-title> Water Quantity Request  (Liters)</mat-card-title><br>
      <mat-card-content>Herding group</mat-card-content>
    </mat-card-header><br>

    <div class="container-dates">
      <mat-card-header class="header-date">
        <mat-card-title > Emission Date: </mat-card-title>
        <mat-card-content>Herding group</mat-card-content>
      </mat-card-header>

      <mat-card-header class="header-date">
        <mat-card-title> Supply Request:</mat-card-title><br>
        <mat-card-content>
          <mat-form-field appearance="fill">
            <mat-label>Select date</mat-label>
            <input matInput [matDatepicker]="picker" [(ngModel)]="supplay_request">
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          </mat-form-field>
        </mat-card-content>
      </mat-card-header>

    </div><br><br>

    <mat-card-actions>
      <button mat-button class="button-cancel" (click)="openDialog('0ms', '0ms')">Cancel</button>
      <button mat-button class="button-save" (click)="saveDate()">Save</button>

    </mat-card-actions>

  </mat-card>
  </div>
</div>
