<div class="request-container">
  <div class="container-card">
    <div class="custom-scheduled-card">

      <!-- Información del residente -->
      <div class="card-header">
        <div class="card-title">{{ 'resident_info' | translate }}</div>
        <div class="card-content">
          {{ data?.resident?.firstName }} {{ data?.resident?.lastName }}
        </div>
      </div>

      <!-- Cantidad de agua solicitada -->
      <div class="card-header">
        <div class="card-title">{{ 'water_quantity_request' | translate }}</div>
        <div class="card-content">{{ data?.requestedLiters }}</div>
      </div>

      <!-- Fechas -->
      <div class="container-dates">
        <!-- Fecha de emisión -->
        <div class="header-date">
          <label class="card-title">{{ 'emission_date_label' | translate }}</label>
          <div class="card-content">{{  data?.emissionDate | date:'medium'  }}</div>
        </div>

        <div class="field-group">
          <label for="status-selector">{{ 'status_label' | translate }}</label>
          <select [(ngModel)]="status" id="status-selector" class="status-selector">
            <option value="IN_PROGRESS">{{ 'in_progress_status' | translate }}</option>
            <option value="CLOSED">{{ 'closed_status' | translate }}</option>
          </select>
        </div>

        <!-- Fecha de entrega -->
        <div class="header-date">
          <label for="date-picker" class="card-title">{{ 'delivered_date_label' | translate }}</label>
          <input
            id="date-picker"
            type="date"
            class="date-input"
            [(ngModel)]="deliveredDateString"
            (change)="onDateChange($event)"
          />
        </div>
      </div>

      <!-- Botones de acción -->
      <div class="card-actions">
        <button class="button-cancel" (click)="closeModal()">{{ 'cancel_button' | translate }}</button>
        <button class="button-save" (click)="saveDate()">{{ 'save_button' | translate }}</button>
      </div>

    </div>
  </div>
</div>
