<div class="home-container">
  <h1>Welcome to AquaConecta</h1>
  <p>Your water management solution</p>

  <div class="buttons-container">
    <button routerLink="/login" class="btn-primary">Sign In</button>
    <button routerLink="/signup" class="btn-secondary">Sign Up</button>
    <button routerLink="/requests" class="btn-info">Supply Requests</button>
    <button routerLink="/reports" class="btn-info" >Report List</button>
    <button routerLink="/providers" class="btn-info">Providers List</button>
    <button routerLink="/provider/1/profile" class="btn-info">Provider Profile</button>
    <button routerLink="/residents" class="btn-info">Residents</button>
    <button routerLink="/history" class="btn-info">Sensor History</button>
  </div>
</div>
