<app-header-content></app-header-content>

<div class="user-info-card" *ngIf="residentData">
  <h1 class="user-name">{{residentData.firstName +' '+ residentData.lastName}}</h1>
  <div class="user-details">
    <span class="dni">DNI: <span class="highlight">{{ residentData.documentNumber }}</span></span>
    <span class="phone">Phone: <span class="highlight">{{ residentData.phone }}</span></span>
  </div>
</div>

<div>
  <div class="request-title-search">
    <h1 class="title-request">Sensor Activity History</h1>
  </div>
  <div class="example-table-container">
    <table mat-table [dataSource]="events" class="example-table" matSort>
      <!-- Number Column -->
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>ID</th>
        <td mat-cell *matCellDef="let row">{{ row.id }}</td>
      </ng-container>

      <!-- Title Column -->
      <ng-container matColumnDef="event">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Event</th>
        <td mat-cell *matCellDef="let row">{{ row.event_type }}</td>
      </ng-container>

      <!-- State Column -->
      <ng-container matColumnDef="water_quality">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Water Quality</th>
        <td mat-cell *matCellDef="let row">{{ row.quality_value}}</td>
      </ng-container>

      <!-- Status Column -->
      <ng-container matColumnDef="status">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Status</th>
        <td mat-cell *matCellDef="let row" class="custom-cell-status">
          <span [ngClass]="getStatusClass(row.status)">
            {{ row.status }}
            </span>
        </td>
      </ng-container>

      <!-- Created Column -->
      <ng-container matColumnDef="water_level">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Water Level</th>
        <td mat-cell *matCellDef="let row">{{ row.level_value }}</td>
      </ng-container>



      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </div>

</div>
