<app-header-content></app-header-content>


<div class="provider-detail-container">
  <h1>Residents and Subscriptions for Provider ID: {{ providerId }}</h1>
  <ul>
    <li *ngFor="let resident of resident">
      <p>Resident ID: {{ resident.first_name }}, Last name: {{ resident.last_name }}</p>
      <ul>
        <li *ngFor="let subscription of subscriptions[resident.id]">
          Subscription Start: {{ subscription.start_date }}, End: {{ subscription.end_date }}, Status: {{ subscription.status }}
        </li>
      </ul>
    </li>
  </ul>
</div>
