<div class="signup-container">
    <div class="image-section">
        <div class="background-image"></div>
        <!-- La imagen de fondo de manos y agua se carga mediante CSS -->
    </div>
    <div class="form-section">
        <div class="form-container">
            <h1 class="app-title">Aqua<span class="highlight">Conecta</span></h1>

            <p class="welcome-message">Create your account</p>

          <div class="success-message" *ngIf="successMessage" style="color: green;">
            {{ successMessage }}
          </div>
          <div class="error-message" *ngIf="errorMessage" style="color: red;">
            {{ errorMessage }}
          </div>


            <form [formGroup]="signupForm" (ngSubmit)="onSubmit()" class="signup-form">

              <div class="form-group">
                <label for="roles">Roles</label>
                <select id="roles" formControlName="roles" class="form-control" (change)="onRoleChange($event)">
                  <option value="" disabled selected>Select a role</option>
                  <option value="ROLE_ADMIN">Admin</option>
                  <option value="ROLE_PROVIDER">Provider</option>
                </select>
                <div class="error-message" *ngIf="hasError('roles', 'required')">
                  Roles are required
                </div>
              </div>

                <div class="form-group" *ngIf="!isProviderRole">
                    <label for="name">Name</label>
                    <input type="text" id="name" formControlName="name" placeholder="Name" class="form-control"
                        [ngClass]="{'invalid': hasError('name', 'required')}">
                    <div class="error-message" *ngIf="hasError('name', 'required')">
                        Name is required
                    </div>

                </div>
                <div class="form-group" *ngIf="!isProviderRole">
                    <label for="lastName">Last name</label>
                    <input type="text" id="lastName" formControlName="lastName" placeholder="Last Name" class="form-control"
                        [ngClass]="{'invalid': hasError('lastName', 'required')}">
                    <div class="error-message" *ngIf="hasError('lastName', 'required')">
                        Last
                    </div>
                </div>
              <!-- Campos específicos para el rol de Provider -->
              <div *ngIf="isProviderRole">
                <div class="form-group">
                  <label for="companyName">Company Name</label>
                  <input type="text" id="companyName" formControlName="companyName" placeholder="Company Name" class="form-control"
                         [ngClass]="{'invalid': hasError('companyName', 'required')}">
                  <div class="error-message" *ngIf="hasError('companyName', 'required')">
                    Company Name is required
                  </div>
                </div>

                <div class="form-group">
                  <label for="ruc">RUC</label>
                  <input type="text" id="ruc" formControlName="ruc" placeholder="RUC" class="form-control"
                         [ngClass]="{'invalid': hasError('ruc', 'required')}">
                  <div class="error-message" *ngIf="hasError('ruc', 'required')">
                    RUC is required
                  </div>
                </div>

              </div>
                <div class="form-group">
                    <label for="email">Email</label>
                    <input type="email" id="email" formControlName="email" placeholder="Email" class="form-control"
                        [ngClass]="{'invalid': hasError('email', 'required') || hasError('email', 'email')}">
                    <div class="error-message" *ngIf="hasError('email', 'required')">
                        Email is required
                    </div>
                    <div class="error-message" *ngIf="hasError('email', 'email')">
                        Please enter a valid email
                    </div>
                </div>
              <div class="form-group">
                <label for="direction">Direction</label>
                <input type="text" id="direction" formControlName="direction" placeholder="Direction" class="form-control"
                       [ngClass]="{'invalid': hasError('direction', 'required')}">
                <div class="error-message" *ngIf="hasError('direction', 'required')">
                  Direction is required
                </div>
              </div>

              <div class="form-group" *ngIf="!isProviderRole">
                <label for="documentNumber">Document Number</label>
                <input type="text" id="documentNumber" formControlName="documentNumber" placeholder="Document Number" class="form-control"
                       [ngClass]="{'invalid': hasError('documentNumber', 'required')}">
                <div class="error-message" *ngIf="hasError('documentNumber', 'required')">
                  Document Number is required
                </div>
              </div>

              <div class="form-group" *ngIf="!isProviderRole">
                <label for="documentType">Document Type</label>
                <input type="text" id="documentType" formControlName="documentType" placeholder="Document Type" class="form-control"
                       [ngClass]="{'invalid': hasError('documentType', 'required')}">
                <div class="error-message" *ngIf="hasError('documentType', 'required')">
                  Document Type is required
                </div>
              </div>

              <div class="form-group">
                <label for="phone">Phone</label>
                <input type="text" id="phone" formControlName="phone" placeholder="Phone" class="form-control"
                       [ngClass]="{'invalid': hasError('phone', 'required')}">
                <div class="error-message" *ngIf="hasError('phone', 'required')">
                  Phone is required
                </div>
              </div>

                <div class="form-group">
                    <label for="password">Password</label>
                    <input type="password" id="password" formControlName="password" placeholder="Password"
                        class="form-control"
                        [ngClass]="{'invalid': hasError('password', 'required') || hasError('password', 'minlength')}">
                    <div class="error-message" *ngIf="hasError('password', 'required')">
                        Password is required
                    </div>
                    <div class="error-message" *ngIf="hasError('password', 'minlength')">
                        Password must be at least 6 characters
                    </div>
                </div>

                <div class="form-group">
                    <label for="confirmPassword">Confirm Password</label>
                    <input type="password" id="confirmPassword" formControlName="confirmPassword"
                        placeholder="Confirm Password" class="form-control"
                        [ngClass]="{'invalid': hasError('confirmPassword', 'required') || signupForm.hasError('passwordMismatch')}">
                    <div class="error-message" *ngIf="hasError('confirmPassword', 'required')">
                        Password confirmation is required
                    </div>
                    <div class="error-message"
                        *ngIf="signupForm.hasError('passwordMismatch') && signupForm.get('confirmPassword')?.touched">
                        Passwords do not match
                    </div>
                </div>

                <button type="submit" class="btn-signup" [disabled]="signupForm.invalid || isSubmitting">
                    {{ isSubmitting ? 'Creating account...' : 'Sign up' }}
                </button>


                <div class="login-section">
                    <span>Already have an account?</span>
                    <a (click)="onLogin()" class="login-link">Sign in here</a>
                </div>
            </form>
        </div>
    </div>
</div>
