<app-header-content></app-header-content>

<div class="provider-container">

  <div class="provider-title-search">
    <h1 class="title-provider">{{ 'providers_title' | translate }}</h1>

    <div class="search-container">

      <div class="input-wrapper">
        <svg class="icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="16" height="16" fill="none" stroke="#00a0ff" stroke-width="2">
          <path d="M21.71 20.29l-5.4-5.4a7.5 7.5 0 1 0-1.42 1.42l5.4 5.4a1 1 0 0 0 1.42-1.42zM10.5 17a6.5 6.5 0 1 1 6.5-6.5 6.51 6.51 0 0 1-6.5 6.5z"/>
        </svg>
        <input matInput (input)="applyStatusFilter($event)" [placeholder]="'search_placeholder' | translate">
      </div>

      <BUTTON class="search-button">{{ 'search_button' | translate }}</BUTTON>

    </div>

  </div>



  <div class="example-container mat-elevation-z8">
    @if (isLoadingResults || isRateLimitReached) {
      <div class="example-loading-shade">
        @if (isLoadingResults) {
          <mat-spinner></mat-spinner>
        }
      </div>
    }

    <div class="example-table-container">

      <table mat-table [dataSource]="providers" class="example-table" matSort>
        <!-- id Column -->
        <ng-container matColumnDef="id">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>{{ 'id' | translate }}</th>
          <td mat-cell *matCellDef="let row">{{ row.id }}</td>
        </ng-container>

        <!-- tax_name Column -->
        <ng-container matColumnDef="tax_name">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>{{ 'tax' | translate }}</th>
          <td mat-cell *matCellDef="let row">{{ row.taxName }}</td>
        </ng-container>

        <!-- ruc Column -->
        <ng-container matColumnDef="ruc">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>{{ 'ruc_column' | translate }}</th>
          <td mat-cell *matCellDef="let row">{{ row.ruc }}</td>
        </ng-container>

        <!-- Phone Column -->
        <ng-container matColumnDef="phone">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>{{ 'phone_column' | translate }}</th>
          <td mat-cell *matCellDef="let row">{{ row.phone }}</td>
        </ng-container>

        <!-- sensors_number Column -->
        <ng-container matColumnDef="sensors_number">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>{{ 'email_column' | translate }}</th>
          <td mat-cell *matCellDef="let row">{{ row.email }}</td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns; " (click)="onRowClick(row.id)"></tr>
      </table>
    </div>

  </div>
</div>
